<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <style>
        body{
            background-image: url('/beanstalk.png');
            font-family: 'Varela Round', sans-serif;
        }
        #container{
            display: flex;
            justify-content: center;
        }
        header{
            font-family: "Showcard Gothic";
            text-align: center;
        }
        form{
            text-align: center;
        }
        .blog-container{
            display: flex;
            justify-content: center;
            background-color: rebeccapurple;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <header>
        <h1>HENZELNET</h1>
    </header>
    <div id="container">
        <form action="">
            <label for="name">Imię:</label><br>
            <input type="text" id="name" name="name"><br><br>
            <label for="title">Tytuł:</label><br>
            <input type="text" id="title" name="title"><br><br>
            <label for="desc">Opis:</label><br>
            <textarea name="desc" id="desc" maxlength="250"></textarea><br><br><br>
            <button>Wyślij</button>
        </form>
    </div>
    <main>
        <% blogs.forEach(blogs => { %>
            <div class="blog-container">
                <h1>
                    <%= blogs.title %> 
                </h1>
                <h2>
                    <%= blogs.name %> 
                </h2>
                <h4>
                    <%= blogs.description %> 
                </h4>
            </div><br><br>
        <% }) %> 
    </main>
</body>
</html>