<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Henzelnet</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>HENZELNET</h1>
    </header>
    <h1 class="header-title">Napisz, co tylko chcesz</h1>
    <div id="container">
        <form action="/" method="POST">
            <label for="name">Imię:</label><br>
            <input type="text" id="name" name="name" required><br><br>
            <label for="title">Tytuł:</label><br>
            <input type="text" id="title" name="title" required><br><br>
            <label for="desc">Opis:</label><br>
            <textarea name="description" id="description" maxlength="500" required></textarea><br><br>
            <button>Dodaj</button><br><br>
        </form>
    </div>
    <a href="#blog-container"><img src="/icon.svg" alt=""></a>
    <main>
        <% blogs.forEach(blogs => { %>
            <div id="blog-container">
                <div class="firstRow">
                    <h1 class="blogTitle">
                        <%= blogs.title %> 
                    </h1>
                    <h3 class="blogName">
                        <%= blogs.name %> 
                    </h3>
                </div>
                <h4 class="blogDesc">
                    <%= blogs.description %> 
                </h4>
            </div><br><br>
        <% }) %> 
    </main>
</body>
</html>