<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: "Showcard Gothic";
            src: url("/Showcard.ttf") format('truetype');
        }
        body{
            margin: 0 !important;
            background-image: url('/beanstalk.png');
            font-family: 'Varela Round', sans-serif;
        }
        #container{
            display: flex;
            justify-content: center;
        }
        header{
            font-family: "Showcard Gothic";
            font-size: 25;
            text-align: center;
        }
        header h1{
            color: #fff;
            padding: 20;
            background-color: #3cde51;
        }
        form{
            text-align: center;
        }
        main{
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        .blog-container{
            background-color: white;
            width: 90vw;
            max-width: 1400px;
            border-radius: 35px;
            -webkit-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.3); 
            box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.3);
        }
        .blogTitle{
            margin-left: 3vw;
            font-size: 40;
        }
        .blogName{
            margin-right: 3vw;
            color: #b8b8b8;
        }
        .blogDesc{
            margin-left: 3vw;
            margin-right: 3vw;
        }
        .firstRow{
            display: flex;
            justify-content: space-between;
        }
        input, textarea{
            border: 5px black solid;
            width: 55vw;
            height: 60px;
            border-radius: 25px;
            font-size: 15px;
            font-family: 'Varela Round', sans-serif;
            padding-left: 10px;
            padding-right: 10px;
            max-width: 1000px;
        }
        textarea{
            height: 170px;
            padding-top: 10px;
        }
        label{
            font-size: 25;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <header>
        <h1>HENZELNET</h1>
    </header>
    <div id="container">
        <form action="">
            <label for="name">Imię:</label><br>
            <input type="text" id="name" name="name" required><br><br>
            <label for="title">Tytuł:</label><br>
            <input type="text" id="title" name="title" required><br><br>
            <label for="desc">Opis:</label><br>
            <textarea name="desc" id="desc" maxlength="500" required></textarea><br><br>
            <button>Wyślij</button><br><br>
        </form>
    </div>
    <main>
        <% blogs.forEach(blogs => { %>
            <div class="blog-container">
                <div class="firstRow">
                    <h1 class="blogTitle">
                        <%= blogs.title %> 
                    </h1>
                    <h3 class="blogName">
                        <%= blogs.name %> 
                    </h3>
                </div>
                <h4 class="blogDesc">
                    <%= blogs.description %> 
                </h4>
            </div><br><br>
        <% }) %> 
    </main>
</body>
</html>