@font-face {
    font-family: "Showcard Gothic";
    src: url("/Showcard.ttf") format('truetype');
}
body{
    margin: 0 !important;
    background-image: url('/beanstalk.png');
    font-family: 'Varela Round', sans-serif;
}
#container{
    display: flex;
    justify-content: center;
}
header{
    font-family: "Showcard Gothic";
    font-size: 25;
    text-align: center;
}
header h1{
    color: #fff;
    padding: 20;
    background-color: #3cde51;
}
form{
    text-align: center;
}
main{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.blog-container{
    background-color: white;
    width: 90vw;
    max-width: 1400px;
    border-radius: 35px;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.3);
}
.blogTitle{
    margin-left: 3vw;
    font-size: 40;
}
.blogName{
    margin-right: 3vw;
    color: #b8b8b8;
}
.blogDesc{
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: -5px;
}
.firstRow{
    display: flex;
    justify-content: space-between;
}
input, textarea{
    border: 5px black solid;
    width: 55vw;
    height: 60px;
    border-radius: 25px;
    font-size: 15px;
    font-family: 'Varela Round', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1000px;
}
textarea{
    height: 170px;
    padding-top: 10px;
}
label{
    font-size: 25;
    font-weight: bold;
}
button{
    background-color: #ff2e2e;
    color: white;
    font-family: 'Varela Round', sans-serif;
    font-size: 25px;
    padding: 15 25 15 25px;
    border-radius: 15px;
    border: none;
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.3); 
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.3);
}
button:hover{
    background-color: #ff4d4d;
}